
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDefinitionLabel">Create or edit a Definition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.definition.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.definition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_definition">Definition</label>
            <input type="text" class="form-control" name="definition" id="field_definition"
                    ng-model="vm.definition.definition"
                     />
        </div>

        <div class="form-group">
            <label for="field_motto">Motto</label>
            <select class="form-control" id="field_motto" name="motto" ng-model="vm.definition.motto" ng-options="motto as motto.nombre for motto in vm.mottos track by motto.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
