<div class="container-fluid footer-roof"></div>
<section id="feet">
    <div class="container">
        <div class="row feet-link-container">
            <div class="col-xs-3"><span class="feet-link-header">Ayuda</span>
                <ul>
                    <li><a href="">Cómo usarlo</a></li>
                    <li><a href="">Leyenda</a></li>
                    <li><a href="">Búsquedas Avanzadas</a></li>
                    <li><a href="">Sitemap  </a></li>
                </ul>
            </div>
            <div class="col-xs-3"><span class="feet-link-header">Desarrollo</span>
                <ul>
                    <li><a href="">API Rest</a></li>
                    <li><a href="">¿Quieres ayudar?</a></li>
                    <li><a href="">Donaciones</a></li>
                </ul>
            </div>
            <div class="col-xs-3"><span class="feet-link-header">Información</span>
                <ul>
                    <li><a href="">Nota legal</a></li>
                    <li><a href="">Política de <em>cookies</em></a></li>
                    <li><a href="">Política de privacidad</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="row feet-social-container"><span class="feet-social"><a href=""><i class="fa fa-fw fa-twitter tw"></i></a></span><span class="feet-social"><a href=""><i class="fa fa-facebook"></i></a></span><span class="feet-social"><a href=""><i class="fa fa-fw fa-rss rs"></i></a></span></div>
    </div>
</section>
<section id="shoes"><span><a href="humans.txt">Made</a> with <i class="fa fa-fw fa-heart"></i> by <strong><a href="http://codegoons.co">Codegoons</a></strong></span></section>
