<section ng-controller="BuscadorController as ctrl" >
    <section id="searchbox">
        <div class="container">
            <div id="search-input" class="row">
                <div class="col-xs-10">
                    <md-autocomplete
                        ng-keyup="buscaKey(event)"
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(
                            item,
                            vm.searchBy,
                            vm.advancedSearchCategory,
                            vm.advancedSearchMateria,
                            vm.advancedSearchRegion,
                            vm.advancedSearchLevel
                            )"
                        md-items="item in ctrl.items"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        placeholder="Empieza a escribir aquí la palabra que buscas..."
                        md-select-on-match="true"
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                    </md-item-template>
                    <md-not-found>
                        No se han encontrado resultados para "{{ctrl.searchText}}"
                        <a ng-click="ctrl.newMotto(ctrl.searchText)"></a>
                    </md-not-found>
                    </md-autocomplete>
                </div>
                <div class="col-xs-2">
                    <button ng-click='vm.advancedSearch(ctrl.searchText)' class='btn btn-default' id="boton-avanzada">Avanzada</button>
                </div>

            </div>
            <div class="col-xs-10">
                <div class="a-search-items">
                    <span ng-repeat="pene in vm.penes | orderBy:'nombre'"ng-if='vm.isList(pene.motto.nombre)' class="motto-list-item" ng-click='vm.itemClicked(pene.motto.id)'>{{pene.motto.nombre}}</span>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div id="search-options-container" class="row">
                <div class="col-xs-12 search-options">
                    <div class="dropdown-search-option search-option-container">
                        <span id="search-by">Por palabra</span>
                        <div class="fd dropdown-options hidden-dd">
                            <span ng-click='vm.searchByControl(1)' class="search-by-option">Por palabra</span>
                            <span ng-click='vm.searchByControl(2)' class="search-by-option sub-dropdown-options">Por lema</span>
                            <div class="sub-dropdown-options-container sub-one hidden-dd">
                                <span ng-click='vm.searchByControl(2)' class="search-by-option">Exacto</span>
                                <span ng-click='vm.searchByControl(3)' class="search-by-option">Empieza por</span>
                                <span ng-click='vm.searchByControl(4)' class="search-by-option">Acaba en</span>
                                <span ng-click='vm.searchByControl(5)'class="search-by-option">Contiene</span>
                                <span ng-click='vm.searchByControl(6)' class="search-by-option">No empieza por</span>
                                <span ng-click='vm.searchByControl(7)' class="search-by-option">No acaba en</span>
                                <span ng-click='vm.searchByControl(8)' class="search-by-option">No contiene</span>
                                <!--span(data-search-by = 10).search-by-option Este no lo leo-->
                            </div>
                        </div>
                    </div>
                    <div
                        ng-click='vm.filterEtimology()'
                        ng-class="{true: 'active', false: 'disabled'}[vm.filterEtimology]"
                        id="etymology"
                        class="search-option-container switchable"
                        >
                            Etimología
                    </div>
                    <div ng-click='vm.filterSynonym()' id="synonyms" class="search-option-container switchable">Sinónimos</div>
                    <div ng-click='vm.filterAntonym()' id="antonyms" class="search-option-container switchable">Antónimos</div>
                    <div class="dropdown-search-option search-option-container">
                        <span id="related-mottos" data-related-motto='1'>Con lemas relacionados</span>
                        <div class="dropdown-options hidden-dd">
                            <span ng-click='vm.filterRelateds(1)'  class="related-motto-option">Sí</span>
                            <span ng-click='vm.filterRelateds(2)'  class="related-motto-option">No</span>
                            <span ng-click='vm.filterRelateds(3)'  class="related-motto-option">Por semejanza</span>
                            <span ng-click='vm.filterRelateds(4)'  class="related-motto-option">Por oposición</span>
                        </div>
                    </div>
                    <div ng-click='vm.filterExamples()' id="examples" class="search-option-container switchable">Ejemplos</div>
                    <div class="dropdown-search-option search-option-container"><span id="order-by" data-order-by='1'>Ordenación por popularidad</span>
                        <div class="dropdown-options hidden-dd"><span data-order-by='1' class="order-by-option">Ordenación por popularidad</span><span data-order-by='2' class="order-by-option">Ordenación normal</span></div>
                    </div>
                </div>
                <div class="col-xs-12 advanced-search-switch-container"><span ng-click="vm.advancedSearchDivControl()"class="advanced-search-switch">opciones avanzadas <i class="fa fa-chevron-left advanced-options-switch"></i></span></div>
            </div>
        </div>
    </section>
    <!-- ADVANCED SEARCH -->
    <section ng-class="{true: '', false: 'hidden'}[vm.advancedSearchDiv]" class='' id="advanced-search-contain">
        <div class="container">
            <div id="advanced-search-container" class="row">
                <div class="col-xs-3 advanced-search">
                    <span class="advance-search-header">Categoría</span>
                    <div class="advance-search-option-container">
                        <span ng-click="vm.advancedSearchAdverbioControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchAdvervio]" class="advance-search-option">Adverbio</span>
                        <span ng-click="vm.advancedSearchArticuloControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchArticulo]" class="advance-search-option">Artículo</span>
                        <span ng-click="vm.advancedSearchAdjetivoControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchAdjetivo]" class="advance-search-option">Adjetivo</span>
                        <span ng-click="vm.advancedSearchNombreControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchNombre]" class="advance-search-option">Nombre</span>
                        <span ng-click="vm.advancedSearchVerboControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchVerbo]" class="advance-search-option">Verbo</span>
                    </div>
                </div>
                <div class="col-xs-3 advanced-search">
                    <span class="advance-search-header">Materia</span>
                    <div class="advance-search-option-container">
                        <span ng-click="vm.advancedSearchCineControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchCine]" class="advance-search-option">Cinematografía</span>
                        <span
                            ng-click="vm.advancedSearchTeatroControl()"
                            ng-class="{true: 'active', false: ''}[vm.advancedSearchTeatro]"
                            class="advance-search-option"
                            >
                            Teatro
                        </span>
                        <span ng-click="vm.advancedSearchTelevisionControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchTelevision]" class="advance-search-option">Televisión</span>
                    </div>
                </div>
                <div class="col-xs-3 advanced-search">
                    <span class="advance-search-header">Región</span>
                    <div class="advance-search-option-container">
                        <span ng-click="vm.advancedSearchArgentinaControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchArgentina]" class="advance-search-option">Argentina</span>
                        <span ng-click="vm.advancedSearchSalamancaControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchSalamanca]" class="advance-search-option">Salamanca</span>
                        <span ng-click="vm.advancedSearchUruguayControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchUruguay]" class="advance-search-option">Uruguay</span>
                    </div>
                </div>
                <div class="col-xs-3 advanced-search">
                    <span class="advance-search-header">Registro</span>
                    <div class="advance-search-option-container">
                        <span ng-click="vm.advancedSearchColoquialControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchColoquial]" class="advance-search-option">Coloquial</span>
                        <span ng-click="vm.advancedSearchDesusoControl()" ng-class="{true: 'active', false: ''}[vm.advancedSearchDesuso]" class="advance-search-option">Desuso</span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END OF ADVANCED SEARCH -->
    <!-- SEARCH RESULTS -->
    <section id="searchresults">
        <div class="container">
            <div class="row">
                <div id="results-area" class="col-xs-8">
                    <span class="search-results-claim">Resultados de la búsqueda</span>
                    <span class="search-results-word">{{ctrl.mottoDefinitions[0].motto.nombre}}</span>
                    <span
                        ng-show="vm.withEtymology"
                        class="search-results-etymology"
                        >
                        {{ctrl.mottoDefinitions[0].motto.informacionEtimologica}}
                    </span>
                    <div id="cards-container" class="row">
                        <div class="col-xs-12">
                            <!--<div style="height: 1000px; background: red;margin-bottom: 40px;"></div>-->
                            <div ng-class='{closed:!$first}' ng-repeat="mottoDefinition in ctrl.mottoDefinitions | orderBy:'popularity'" class="card">
                                <div class="card-entry-order-container">
                                    <span class="card-entry-order">{{$index + 1}}.</span>
                                    <span class="card-entry-upvote">
                                        <i class="fa fa-fw fa-chevron-up"></i>
                                    </span>
                                    <span class="card-entry-like">
                                        <i class="fa fa-fw fa-heart-o"></i>
                                    </span>
                                </div>
                                <div class="card-definition-container">
                                    <span  class="card-etymology">
                                        <span class="etymology-category">{{mottoDefinition.categoria}}</span>
                                        <span class="etymology-materia">{{mottoDefinition.materia}}</span>
                                        <span class="etymology-region">{{mottoDefinition.region}}</span>
                                        <span class="etymology-level">{{mottoDefinition.registro}}</span>
                                    </span>
                                    <span class="card-definition">{{mottoDefinition.definition.definition}}</span>
                                    <hr/>
                                    <span ng-show="vm.withExamples" class="card-example">{{mottoDefinition.ejemplo}}</span>
                                    <span class="card-synonims-and-antonyms">
                                        <span ng-show="vm.withSynonyms" class="card-synonyms">
                                            Sinónimos:
                                            <span ng-if="mottoDefinition.sinonimo.id !== undefined">{{mottoDefinition.sinonimo.motto.nombre}}</span>
                                            <span ng-if="mottoDefinition.sinonimo.id === undefined" class="no-result">No hay sinónimos para este lema.</span>
                                        </span>
                                        <span ng-show="vm.withAntonyms" class="card-antonyms">
                                            Antónimos:<span ng-if="mottoDefinition.antonimo.id !== undefined">{{mottoDefinition.antonimo.motto.nombre}}</span><span ng-if="mottoDefinition.antonimo.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                    </span>
                                    <span ng-show='vm.relateds' class="card-related-mottos">
                                        <span ng-show='vm.similarity' class="card-relative">
                                            Por semejanza:
                                            <span ng-bind-html='mottoDefinition.lemaSemejanza.motto.nombre' ng-if="mottoDefinition.lemaSemejanza.id !== undefined"></span>
                                            <span ng-if="mottoDefinition.lemaSemejanza.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                        <span ng-show='vm.oposition' class="card-oposition">
                                            Por oposición:<span ng-if="mottoDefinition.lemaOposicion.id !== undefined">{{mottoDefinition.lemaOposicion.motto.nombre}}</span><span ng-if="mottoDefinition.lemaOposicion.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div has-authority="ROLE_ADMIN" class="table-responsive">
                                <table class="jh-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th><span>ID</span></th>
                                        <th><span>Materia</span></th>
                                        <th><span>Registro</span></th>
                                        <th><span>Region</span></th>
                                        <th><span>Ejemplo</span></th>
                                        <th><span>Categoria</span></th>
                                        <th><span>Popularity</span></th>
                                        <th><span>Sinonimo</span></th>
                                        <th><span>Antonimo</span></th>
                                        <th><span>Lema Semejanza</span></th>
                                        <th><span>Lema Oposicion</span></th>
                                        <th><span>Motto</span></th>
                                        <th><span>Definition</span></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mottoDefinition in ctrl.mottoDefinitions track by mottoDefinition.id">
                                        <td><a ui-sref="motto-definition-detail({id:mottoDefinition.id})">{{mottoDefinition.id}}</a></td>
                                        <td>{{mottoDefinition.materia}}</td>
                                        <td>{{mottoDefinition.registro}}</td>
                                        <td>{{mottoDefinition.region}}</td>
                                        <td>{{mottoDefinition.ejemplo}}</td>
                                        <td>{{mottoDefinition.categoria}}</td>
                                        <td>{{mottoDefinition.popularity}}</td>
                                        <td>
                                            <a ui-sref="motto-definition-detail({id:mottoDefinition.sinonimo.id})">{{mottoDefinition.sinonimo.id}}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="motto-definition-detail({id:mottoDefinition.antonimo.id})">{{mottoDefinition.antonimo.id}}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="motto-definition-detail({id:mottoDefinition.lemaSemejanza.id})">{{mottoDefinition.lemaSemejanza.id}}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="motto-definition-detail({id:mottoDefinition.lemaOposicion.id})">{{mottoDefinition.lemaOposicion.id}}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="motto-detail({id:mottoDefinition.motto.id})">{{mottoDefinition.motto.nombre}}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="definition-detail({id:mottoDefinition.definition.id})">{{mottoDefinition.definition.definition}}</a>
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group flex-btn-group-container">
                                                <button type="submit"
                                                        ui-sref="motto-definition-detail({id:mottoDefinition.id})"
                                                        class="btn btn-info btn-sm">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                                <button type="submit"
                                                        ui-sref="motto-definition.edit({id:mottoDefinition.id})"
                                                        class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                                <button type="submit"
                                                        ui-sref="motto-definition.delete({id:mottoDefinition.id})"
                                                        class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="motto-list">
                        <span ng-if='vm.isList(motto.nombre)' ng-repeat="motto in ctrl.mottos | orderBy:'nombre'" class="motto-list-item" ng-click='ctrl.itemClicked(motto.id)'>{{motto.nombre}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF SEARCH RESULTS -->
</section>
<!-- ./ambito del controlador -->
<script>
    $('span.advanced-search-switch').click(function () {
        $('.logged-user-options').toggleClass('open');
    });
    //Cards
    var lastActiveCard = $( '#cards-container .card:first-child' );

    $( '.card.closed' ).click(function(){
        lastActiveCard.toggleClass( 'closed' );
        console.log( $( this )  );
        $( this ).toggleClass( 'closed' );
        lastActiveCard = $( this );
    });

    //To open advanced options
    $('span.advanced-search-switch').click(function(){
        console.log('click');
        $('i.advanced-options-switch').toggleClass('open-advanced-options');
        $('section#advanced-search').toggleClass('open');
    });

    //Simple options switch
    $('.search-options div.switchable').click(function(){
        $(this).toggleClass('disabled');
    });

    $('.dropdown-search-option').click(function(){
        $('.dropdown-options' ,this).toggleClass('hidden-dd');
        $(this).toggleClass('raised');
    });

    $('.sub-dropdown-options').hover(function(){
        $('.sub-dropdown-options-container.sub-one').toggleClass('hidden-dd');
    });

    $('.sub-dropdown-options-container.sub-one').hover(function(){
        $(this).toggleClass('hidden-dd');
        $('span.search-by-option.sub-dropdown-options').toggleClass('hover');
    });

    $('span.sub-dropdown-options-container').hover(function(){
        $('.sub-dropdown-options-container', this).toggleClass('hidden-dd');
    });
</script>

</div>
