<section ng-controller="buscadorCtrl as ctrl" >
    <section id="searchbox">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.items"
            md-item-text="item.nombre"
            md-min-length="0"
            placeholder="Introduce la palabra a buscar"
            md-select-on-match="true"
        <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
        </md-item-template>
        <md-not-found>
            No se han encontrado resultados para "{{ctrl.searchText}}"
            <a ng-click="ctrl.newMotto(ctrl.searchText)"></a>
        </md-not-found>
        </md-autocomplete>
        <div class="container">
            <div id="search-input" class="row">
                <div class="col-xs-12">
                    <input type="text" class="searchbox"/>
                </div>

            </div>
            <div id="search-options-container" class="row">
                <div class="col-xs-12 search-options">
                    <div class="dropdown-search-option search-option-container"><span id="search-by" data-search-by='2'> Por palabra</span>
                        <div class="fd dropdown-options hidden-dd"><span data-search-by='2' class="search-by-option">Por palabra</span><span data-search-by='3' class="search-by-option sub-dropdown-options">Por lema</span>
                            <div class="sub-dropdown-options-container sub-one hidden-dd"><span data-search-by='3' class="search-by-option">Exacto</span><span data-search-by='4' class="search-by-option">Empieza por</span><span data-search-by='5' class="search-by-option">Acaba en</span><span data-search-by='6' class="search-by-option">Contiene</span><span data-search-by='7' class="search-by-option">No empieza por</span><span data-search-by='8' class="search-by-option">No acaba en</span><span data-search-by='9' class="search-by-option">No contiene</span>
                                <!--span(data-search-by = 10).search-by-option Este no lo leo-->
                            </div>
                        </div>
                    </div>
                    <div ng-click='vm.searchByControl();' id="etymology" class="search-option-container switchable">Etimología</div>
                    <div id="synonyms" class="search-option-container switchable">Sinónimos</div>
                    <div id="antonyms" class="search-option-container switchable">Antónimos</div>
                    <div class="dropdown-search-option search-option-container"> <span id="related-mottos" data-related-motto='1'>Con lemas relacionados</span>
                        <div class="dropdown-options hidden-dd"><span data-related-motto='1' class="related-motto-option">Sí</span><span data-related-motto='2' class="related-motto-option">No</span><span data-related-motto='3' class="related-motto-option">Por semejanza</span><span data-related-motto='4' class="related-motto-option">Por oposición</span></div>
                    </div>
                    <div id="examples" class="search-option-container switchable">Ejemplos</div>
                    <div class="dropdown-search-option search-option-container"><span id="order-by" data-order-by='1'>Ordenación por popularidad</span>
                        <div class="dropdown-options hidden-dd"><span data-order-by='1' class="order-by-option">Ordenación por popularidad</span><span data-order-by='2' class="order-by-option">Ordenación normal</span></div>
                    </div>
                </div>
                <div class="col-xs-12 advanced-search-switch-container"><span class="advanced-search-switch">opciones avanzadas <i class="fa fa-chevron-left advanced-options-switch"></i></span></div>
            </div>
        </div>
    </section>
    <section id="advanced-search">
        <div class="container">
            <div id="advanced-search-container" class="row">
                <div class="col-xs-12 advanced-search">
                    <p>aaa</p>
                </div>
            </div>
        </div>
    </section>
    <section id="searchresults">
        <div class="container">
            <div class="row">
                <div id="results-area" class="col-xs-12">
                    <span class="search-results-claim">Resultados de la búsqueda</span>
                    <span class="search-results-word">{{ctrl.mottoDefinitions[0].motto.nombre}}</span>
                    <span class="search-results-etymology">{{ctrl.mottoDefinitions[0].motto.informacionEtimologica}}</span>
                    <div class="row">
                        <div id="cards-container" class="col-xs-12">
                            <div ng-class='{closed:!$first}' ng-repeat="mottoDefinition in ctrl.mottoDefinitions track by mottoDefinition.id" class="card">
                                <div class="card-entry-order-container">
                                    <span class="card-entry-order">1</span>
                                    <span class="card-entry-upvote">
                                        <i class="fa fa-fw fa-chevron-up"></i>
                                    </span>
                                    <span class="card-entry-like">
                                        <i class="fa fa-fw fa-heart-o"></i>
                                    </span>
                                </div>
                                <div class="card-definition-container">
                                    <span class="card-etymology">
                                        <span class="etymology-category">{{mottoDefinition.categoria}}<span>.</span></span>
                                        <span class="etymology-materia">{{mottoDefinition.materia}}<span>.</span></span>
                                        <span class="etymology-region">{{mottoDefinition.region}}<span>.</span></span>
                                        <span class="etymology-level">{{mottoDefinition.registro}}<span>.</span></span>
                                    </span>
                                    <span class="card-definition">{{mottoDefinition.definition.definition}}</span>
                                    <hr/>
                                    <span class="card-example">{{mottoDefinition.ejemplo}}</span>
                                    <span class="card-synonims-and-antonyms">
                                        <span class="card-synonyms">
                                            Sinónimos:<span ng-if="mottoDefinition.sinonimo.id !== undefined">{{mottoDefinition.sinonimo.motto.nombre}}</span><span ng-if="mottoDefinition.sinonimo.id === undefined" class="no-result">No hay sinónimos para este lema.</span>
                                        </span>
                                        <span class="card-antonyms">
                                            Antónimos:<span ng-if="mottoDefinition.antonimo.id !== undefined">{{mottoDefinition.antonimo.motto.nombre}}</span><span ng-if="mottoDefinition.antonimo.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                    </span>
                                    <span class="card-related-mottos">
                                        <span class="card-relative">
                                            Por semejanza:<span ng-if="mottoDefinition.lemaSemejanza.id !== undefined">{{mottoDefinition.lemaSemejanza.motto.nombre}}</span><span ng-if="mottoDefinition.lemaSemejanza.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                        <span class="card-oposition">
                                            Por oposición:<span ng-if="mottoDefinition.lemaOposicion.id !== undefined">{{mottoDefinition.lemaOposicion.motto.nombre}}</span><span ng-if="mottoDefinition.lemaOposicion.id === undefined" class="no-result">No hay antónimos para este lema.</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.col-xs-4//.well
                -->
            </div>
        </div>
    </section>
</section>
<!-- ./ambito del controlador -->
<div ng-controller="buscadorCtrl as ctrl" layout="column" ng-cloak>
            <md-autocomplete
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.items"
                md-item-text="item.nombre"
                md-min-length="0"
                placeholder="Introduce la palabra a buscar"
                md-select-on-match="true"
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                </md-item-template>
                <md-not-found>
                    No se han encontrado resultados para "{{ctrl.searchText}}"
                    <a ng-click="ctrl.newMotto(ctrl.searchText)"></a>
                </md-not-found>
            </md-autocomplete>
            <br/>


    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Materia</span></th>
                <th><span>Registro</span></th>
                <th><span>Region</span></th>
                <th><span>Ejemplo</span></th>
                <th><span>Categoria</span></th>
                <th><span>Popularity</span></th>
                <th><span>Sinonimo</span></th>
                <th><span>Antonimo</span></th>
                <th><span>Lema Semejanza</span></th>
                <th><span>Lema Oposicion</span></th>
                <th><span>Motto</span></th>
                <th><span>Definition</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mottoDefinition in ctrl.mottoDefinitions track by mottoDefinition.id">
                <td><a ui-sref="motto-definition-detail({id:mottoDefinition.id})">{{mottoDefinition.id}}</a></td>
                <td>{{mottoDefinition.materia}}</td>
                <td>{{mottoDefinition.registro}}</td>
                <td>{{mottoDefinition.region}}</td>
                <td>{{mottoDefinition.ejemplo}}</td>
                <td>{{mottoDefinition.categoria}}</td>
                <td>{{mottoDefinition.popularity}}</td>
                <td>
                    <a ui-sref="motto-definition-detail({id:mottoDefinition.sinonimo.id})">{{mottoDefinition.sinonimo.id}}</a>
                </td>
                <td>
                    <a ui-sref="motto-definition-detail({id:mottoDefinition.antonimo.id})">{{mottoDefinition.antonimo.id}}</a>
                </td>
                <td>
                    <a ui-sref="motto-definition-detail({id:mottoDefinition.lemaSemejanza.id})">{{mottoDefinition.lemaSemejanza.id}}</a>
                </td>
                <td>
                    <a ui-sref="motto-definition-detail({id:mottoDefinition.lemaOposicion.id})">{{mottoDefinition.lemaOposicion.id}}</a>
                </td>
                <td>
                    <a ui-sref="motto-detail({id:mottoDefinition.motto.id})">{{mottoDefinition.motto.nombre}}</a>
                </td>
                <td>
                    <a ui-sref="definition-detail({id:mottoDefinition.definition.id})">{{mottoDefinition.definition.definition}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="motto-definition-detail({id:mottoDefinition.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="motto-definition.edit({id:mottoDefinition.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="motto-definition.delete({id:mottoDefinition.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
