<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="hat" class="row">
                    <div id="logo-container" class="col-xs-6">
                        <h3 ui-sref="home" ><a href="">DIESENLI.</a></h3>
                    </div>
                    <div id="last-update-container" class="col-xs-6 text-right"><span id="last-update">Última actualización: 5 de junio de 2016</span></div>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="head" class="row" ng-switch="vm.isAuthenticated()">
                    <div id="main-menu" class="col-xs-8 text-left">
                        <a ui-sref="buscador" href="" class="btn btn-link active">buscador</a>
                        <a href="" class="btn btn-link">Introducción</a>
                        <a href="" class="btn btn-link">Guía de uso</a>
                        <a href="" class="btn btn-link">propón una palabra</a>
                        <a href="" class="btn btn-link">comunidad</a></div>
                    <div ng-class="{active: vm.$state.includes('account')}" id="register-signin-container" class="col-xs-4 text-right">
                        <a ng-switch-when="false" ui-sref="register" href="" class="btn btn-default btn-register">registrarse</a>
                        <a ng-switch-when="false" ng-click="vm.login()" href="" class="btn btn-link btn-signin">entrar</a>
                        <a ng-switch-when='true' ng-click='vm.logout()' class='btn btn-link btn-signin' href="">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav has-authority="ROLE_ADMIN" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-click="vm.collapseNavbar()"><span>Diesli</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div  class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                          <span>
                              <span class="glyphicon glyphicon-th-list"></span>
                              <span class="hidden-sm">
                                  Entities
                              </span>
                              <b class="caret"></b>
                          </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" >
                            <a ui-sref="motto" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Motto</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="motto-fav" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Motto Fav</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="definition" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Definition</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="motto-definition" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Motto Definition</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="board" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Board</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="card" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Card</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="card-reply" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span >Card Reply</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                          <span>
                              <span class="glyphicon glyphicon-user"></span>
                              <span class="hidden-sm">
                                  Accounte
                              </span>
                              <b class="caret"></b>
                          </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span>Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span>Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                          <span>
                              <span class="glyphicon glyphicon-tower"></span>
                              <span class="hidden-sm">Administration</span>
                              <b class="caret"></b>
                          </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-hide="vm.inProduction" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
